<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphFrontend2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GraphFrontend2.Settings1>
            <setting name="Vertexradius" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="Fontsize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Graphtype" serializeAs="String">
                <value>WeightedGraph</value>
            </setting>
        </GraphFrontend2.Settings1>
    </applicationSettings>
</configuration>